<div class="card" >
  <div class="card-header" *ngIf="courseDetail">
  <h6 class="h4">{{courseDetail.name}}</h6>
  </div>
  <div class="card-body">
    <div class="card"  *ngIf="teacherInfo">
      <div class="card-header">
        <h6 class="h6">Teacher info</h6>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-3">
            <img src="{{teacherInfo.imgUrl}}" alt="thumbnail" class="img-thumbnail"
                 style="width: 100px">
          </div>
          <div class="col-md-5 small dark-grey-text">
            <label>Full name: </label><span class="font-weight-bold"> {{teacherInfo.name}}</span><br>
            <label>Email: </label><span class="font-weight-bold"> {{teacherInfo.email}}</span>

          </div>
          <div class="col-md-3 small dark-grey-text p-0">
            <label>Location: </label><span class="font-weight-bold"> {{teacherInfo.location}}</span><br>
            <label *ngIf="teacherInfo.major == 'SOFTWARE_ENGINEER'">Chuyên ngành: </label><span class="font-weight-bold " *ngIf="teacherInfo.major == 'SOFTWARE_ENGINEER'"> Kỹ thuật phần mềm</span>
            <label  *ngIf="teacherInfo.major == 'ECONOMICS'">Chuyên ngành: </label><span class="font-weight-bold " *ngIf="teacherInfo.major == 'ECONOMICS'"> Kinh tế</span>
            <label *ngIf="teacherInfo.major == 'POLITICAL'">Chuyên ngành: </label><span class="font-weight-bold " *ngIf="teacherInfo.major == 'POLITICAL'"> Chính trị</span>
            <label *ngIf="teacherInfo.major == 'COMPUTER_SCIENCE'">Chuyên ngành: </label><span class="font-weight-bold " *ngIf="teacherInfo.major == 'COMPUTER_SCIENCE'"> Khoa học máy tính</span>

          </div>
        </div>
      </div>
    </div>

    <br/>
    <app-calendar [calendarList]="calendarList"></app-calendar>
    <div class="alert alert-danger mt-3" role="alert" *ngIf="error">
      {{error}}
    </div>

  </div>
  <div class="card-footer" *ngIf="courseDetail">
    <button *ngIf="!loading && !registered" [ngClass]="courseDetail.studentQuantity === courseDetail.studentRegistered || courseDetail.status == false ? 'disabled': ''" mdbBtn type="button" class="float-right " color="primary" size="sm" [outline]="true" mdbWavesEffect (click)="onRegister(courseDetail._id)">Đăng ký</button>
    <button *ngIf="!loading && registered" [ngClass]="courseDetail.status == false ? 'disabled': ''" mdbBtn type="button" class="float-right" color="danger" size="sm" [outline]="true" mdbWavesEffect (click)="onCancel()">Cancel</button>
    <button *ngIf="loading" mdbBtn class="float-right" color="primary" size="sm" [outline]="true" type="button" disabled>
      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      Loading...
    </button>


  </div>
</div>
