.cert-img {
  height: 900px;
  width: 1256px;
}
.cert-name-academy {
  position: absolute;
  top: 500px;
  width: 1256px;
  font-size: 60px;
  text-align: center;
  left: 0;
  color: #f08a5d;
  font-family: 'Petrona', serif;
  margin-left: 0px;
}
.cert-date-academy {
  position: absolute;
  width: 670px;
  top: 720px;
  text-align: center;
  left: 0;
  font-family: auto, serif;
  font-size: 25px;
  margin-left: 0px;
}
