<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header bg-white">
          <p class="h5 dark-grey-text">Danh sách phòng học</p>
        </div>
        <div class="table-responsive">
          <table mdbTable #tableEl="mdbTable" class="text-center" >
            <thead>
            <tr >
              <th class="tex-center" *ngFor="let head of headElements; let i = index" scope="col">{{head}}
              </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let el of elements; let i = index" >
              <td>{{i+1}}</td>
              <td>{{el.code}}</td>
              <td>{{el.name}}</td>
              <td>{{el.lessonQuantity}}</td>
              <td>{{el.studentRegistered}}/{{el.studentQuantity}}</td>
              <td>
                <mdb-badge [pill]="true" [success]="true" *ngIf="el.status == true">Kích hoạt</mdb-badge>
                <mdb-badge [pill]="true" [danger]="true" *ngIf="el.status == false">Khóa</mdb-badge>
              </td>
              <td>
                <button type="button" mdbBtn size="sm" [outline]="true" color="primary" mdbWavesEffect (click)="onDetail(el._id)">Chi tiết</button>
              </td>
            </tr>
            </tbody>
            <tfoot class="grey lighten-5 w-100">
            <tr >
              <td colspan="9">
                <mdb-table-pagination [tableEl]="tableEl" [searchDataSource]="elements"></mdb-table-pagination>
              </td>
            </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
