button .custom-btn {
  border: 1px solid #dadce0 !important;
  border-radius: 6px !important;
  box-shadow: none !important;
  padding: 0.84rem 0.14rem !important;
  color: rgba(0,0,0,.72) !important;
  text-transform: none !important;
  background-color: white;
}
i {
  font-size: 1.2rem !important;
}
