<mdb-card >
  <mdb-card-header>
    <img class="img-fluid" alt="Responsive image" src="https://res.cloudinary.com/dtozica7a/image/upload/v1653462010/Logo_IUH_psadqg.png">
    <span>ĐĂNG NHẬP HỆ THỐNG </span>
  </mdb-card-header>
  <mdb-card-body class="custom-body-form">
    <form [formGroup]="loginForm">
      <div class="md-form form-sm">
        <input mdbInput type="text" id="username" formControlName="email" class="form-control form-control-sm">
        <label for="username" class="">Tài khoản</label>
      </div>
      <div class="md-form form-sm">
        <input mdbInput type="password" formControlName="password" id="password" class="form-control form-control-sm">
        <label for="password" class="">Mật khẩu</label>
      </div>
    </form>
    <div class="alert alert-danger small" *ngIf="error" role="alert">
      Đăng nhập thất bại
    </div>
    <button type="button" size="sm" mdbBtn color="primary" class="waves-light" mdbWavesEffect *ngIf="!loading" (click)="onLogin()">Đăng nhập</button>
   
    <button mdbBtn color="primary" size="sm" *ngIf="loading" type="button" disabled>
      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      Loading...
    </button>
 

    
  </mdb-card-body>
  <mdb-card-footer>
  </mdb-card-footer>
</mdb-card>
