/* You can add global styles to this file, and also import other style files */
@import "../node_modules/angular-calendar/css/angular-calendar.css";
.cal-month-view .cal-day-cell {
  min-height: 30px !important;
}
.cal-month-view .cal-cell-top {
  min-height: 47px !important;
}
.cal-month-view .cal-day-cell.cal-today .cal-day-number {
  font-size: 0.9em;
}
.cal-month-view .cal-day-number {
  font-size: 1.0em;
  font-weight: 400;
  opacity: 0.5;
  margin-top: 15px;
  margin-right: 15px;
  float: right;
  margin-bottom: 10px;
}
@import "../node_modules/angular-calendar/css/angular-calendar.css";
